@import url("https://fonts.googleapis.com/css?family=Roboto:700");

:root {
	--t: 20s;
}
.social-links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.social-links > a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50%;
}

.social-links > a > svg {
	height: 20px;
	width: 20px;
}

.social-links > a:hover {
	background-color: #21262d;
}

.bento-grid {
	display: grid;
	grid-template-columns: repeat(4, 280px);
	grid-template-rows: repeat(3, 280px);
	gap: 15px;
	max-width: 1165px;
	padding-bottom: 50px;

	grid-template-areas:
		"hero hero quote quote"
		"hero hero social work"
		"map skills skills work ";
}

.bento-grid > div {
	border-radius: 40px;
	border: 2px solid #30363d;
	padding: 40px;
	background-color: #0d1117;
}

.hero {
	grid-area: hero;
}
.map {
	grid-area: map;
	padding: 0 !important;
	overflow: hidden;

	filter: grayscale(1) opacity(0.6) invert(1);
}
.quote {
	grid-area: quote;
	font-family: "Droid Serif", serif;
}
.skills {
	grid-area: skills;
}
.warning {
	grid-area: warning;
}
.spotify {
	grid-area: spotify;
}
.work {
	grid-area: work;
}

.social {
	grid-area: social;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items: center;
	color: white;
}

.social > a > svg {
	fill: rgb(158, 166, 185);
	height: 40px;
	width: 40px;
	transition: 200ms;
}

.social > a > svg:hover {
	transform: scale(1.4);
	cursor: pointer;
}

.social > a > .div1:hover {
	fill: rgb(114, 220, 255);
}
.social > a > .div2:hover {
	fill: rgb(159, 87, 254);
}
.social > a > .div3:hover {
	fill: rgb(87, 137, 254);
}
.social > a > .div4:hover {
	fill: rgb(254, 87, 115);
}
.container > p {
	text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
		0 0 3px rgba(255, 255, 255, 0.3);
}
.container {
	color: #e5e5e5;
	font-family: "Roboto";
	font-size: 2.26rem;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	height: 55px;
}

.animation {
	height: 55px;
	overflow: hidden;
}

.animation > div > div {
	padding: 0.25rem 0.75rem;
	padding-inline: 0.5rem;
	height: 55px;

	margin-bottom: 20px;
	display: inline-block;
}

.animation div:first-child {
	animation: text-animation 8s infinite;
}

.first div {
	background-color: #17799c;
}
.second div {
	background-color: #9c7018;
}
.third div {
	background-color: #8b061e;
}

@keyframes text-animation {
	0% {
		margin-top: 0;
	}
	10% {
		margin-top: 0;
	}
	20% {
		margin-top: -70px;
	}
	30% {
		margin-top: -70px;
	}
	40% {
		margin-top: -140px;
	}
	60% {
		margin-top: -140px;
	}
	70% {
		margin-top: -70px;
	}
	80% {
		margin-top: -70px;
	}
	90% {
		margin-top: 0;
	}
	100% {
		margin-top: 0;
	}
}

.iam {
	font-family: "Roboto";
	font-size: 2rem;
}
.iam > p {
	font-family: "Roboto";
	font-weight: bold;
}

.pimage {
	background: url("./pf.png");
	object-fit: cover;
	background-size: cover;
	transform: rotate(-3deg);
	transition: 200ms;
	filter: grayscale(0.3);
}

.pimage:hover {
	transform: rotate(0);
	transform: scale(1.2);
}
.nlogo {
	background: url("../../../public/logoa.png");
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;

	background-position: center;
}

blockquote {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
blockquote > div > div {
	font-size: 30px;
	font-style: italic;
}

blockquote > div > p {
	font-size: 20px;
	color: #798bbb;
}

.div-heading {
	font-family: "Droid Serif", serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

.scrollskills {
	overflow: hidden;
	position: relative;
	display: flex;
	width: 100%;

	-webkit-mask-image: linear-gradient(
		90deg,
		transparent,
		#fff 20%,
		#fff 80%,
		transparent
	);
}

.scrollskills div {
	white-space: nowrap;
	animation: animate 20s linear -10s infinite;
}

.scroll2div {
	animation: animate2 20s linear -20s infinite;

	background-color: blue;
}

@keyframes animate2 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.scrollskills div span {
	display: inline-flex;
	margin: 10px;
	background-color: #21262d;
	color: #fff;
	padding: 10px 14px;
	border-radius: 10px;
	transition: 500ms;
}

.scrollskills div span:hover {
	background: #798bbb;
	cursor: pointer;
}

@keyframes animate {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-200%);
	}
}

@media screen and (max-width: 1200px) {
	.bento-grid {
		grid-template-areas: "hero hero map" " hero hero social " " quote quote work" " skills skills work";
		grid-template-columns: repeat(3, 200px);
		grid-template-rows: repeat(4, 240px);
	}
	blockquote > div > div {
		font-size: 20px;
	}
}

@media screen and (max-width: 887px) {
	.headermodifier {
		margin-top: 100px;
	}
}

@media screen and (max-width: 670px) {
	.bento-grid {
		display: flex !important;
		flex-direction: column;
		width: 100%;
		padding-inline: 10px;
	}
	.work {
		min-height: 800px;
	}
}
